h1{
    font-size:40px;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(243, 183, 110);
    width: 600px;
    border: 2px solid rgb(252, 6, 6);
    border-radius: 12px;
    box-shadow: 0 0 8px darkblue;
    margin-top: 0px;
}
.bott{
    background-color: aqua;
    border: 2px solid black;
    border-radius: 0 5px 0 5px;
    width: 150px;
}
body{
    background-color: darkgrey;
}
img{
    height: 15rem;
    border: 3px solid blue;
}
.geo{position: absolute;
    top: 90%;
    font-size: 23px;
    background-color: chartreuse;
    border: 2px solid;
    border-radius:0 30px 30px 0;
    width: 280px;
    padding-left: 10px;
    box-shadow: 15px 0 10px rgb(63, 68, 118);
}
.arrow{
    font-size: 50px;
    color: rgb(9, 1, 0);
    background-color: rgb(194, 150, 235);
    height: 50px;
    width: 50px;
    border-color: rgb(10, 100, 19);
    border-radius:15px ;
    box-shadow:3px 3px 0 rgb(55, 11, 11);
}
.arrow:active{
    background-color: aquamarine;
}
.left{
    position: absolute;
    top: 5px;
    left: 9px;
    font-size: 35px;
}
